## Definition
Data types are classifications that categorize the values a variable can take. These classifications tell us what operations can be performed on our data.
#### Main data types within Python
 - Numeric
 - Boolean 
 - Sequence type
 - Set
 - Dictionaries
#### Numeric data types
There are three types of numeric data types
 - Integers
 - Floats
 - Complex numbers

In [1]:
# Integers are positive or negative whole nnumbers
x = 12
type(x)

y = -12
type(y)

int

In [2]:
# Floats, often referred to as floating-point are numbers with a fractional part
pi_constant = 3.14
type(pi_constant)

float

In [3]:
# Complex data type is used for imaginary numbers. letter 'j' is used as the imaginary number
z = 12 + 3j
type(z)

complex

In [4]:
# Boolean data type has only two built-in values; True or False
expr_1 = 1 > 5
type(expr_1 )

bool

### Sequence type data types
That includes
 - Strings
 - Lists
 - Tuples
#### Strings
 - In Python, string data type is used to represent text or character data.
 - Strings are enclosed in either single quotes (' '), double quotes (" ") or 
   triple quotes (""" """)

In [6]:
# Using single quotes
favourite_flavour = 'Salted caramel is my favaourite ice cream flavour'
type(favourite_flavour)

# Using double quotes
second_favourite = "Vanilla swirl is my second favourite ice cream flavour"
type(second_favourite)

# Multiline strings using triple quotes
brands = """
Salted caramel is my favourite ice cream flavour from dairyland
Classic vanilla is my favourite ice cream flavour from creambell
Lemon and Lime is my favourite ice cream flavour from lyons maid

"""
type(brands )

str

Strings are immutable, that is they cannot be modified after they are created. However, we can perform various operations on strings such as concatenation and slicing

In [9]:
# Concatenation
top_2_flavours = favourite_flavour + " while " + second_favourite
print(top_2_flavours )

# Slicing
sub_string = top_2_flavours[0:6] # Returns the first six characters
print(sub_string )

Salted caramel is my favaourite ice cream flavour while Vanilla swirl is my second favourite ice cream flavour
Salted

Python also provides a set of functions for manipulating strings such as 'len()', 'upper()' and 'lower()'

In [12]:
# Get the length of the string
print(len(top_2_flavours))

# Convert to uppercase
print(top_2_flavours.upper())

# Convert to lowercase
print(top_2_flavours.lower())

# Replace characters
print(top_2_flavours.replace('V', 'v'))

110
SALTED CARAMEL IS MY FAVAOURITE ICE CREAM FLAVOUR WHILE VANILLA SWIRL IS MY SECOND FAVOURITE ICE CREAM FLAVOUR
salted caramel is my favaourite ice cream flavour while vanilla swirl is my second favourite ice cream flavour
Salted caramel is my favaourite ice cream flavour while vanilla swirl is my second favourite ice cream flavour

#### Lists
 - A list is an ordered collection of elementswhich can be of different data types They are defined by enclosing the element in square brackets '[]' and separating the    with commas (,)
 - Lists are mutable, that is we  can modify them by adding or removing elements after we have created them

In [13]:
brief_description = ['Diana', 170, 'White']
print(brief_description)

['Diana', 170, 'White']

Basic operations that can be performed on lists

In [20]:
# Returns the first element in the list
brief_description[0]

# Returns the last element in the list
brief_description[-1]

# Slicing
# Get a sublist from index 0 to 1 (excluding 2)
brief_description[0:2] 

# Modifying elements
# Changing the value at index 0
brief_description[0] = 'Injelwa'

# Adding elements
# append() function adds an element at the end of the list
brief_description.append('Pasta')
brief_description

# Checking the length of a list
len(brief_description)

5

#### Tuples
 - A tuple is an ordered and immutable(they cannot be modified once its created) collection of elements.
 - Tuples are defined by enclosing the elements in parentheses '()' and separating them with commas.
 - Tuples are often used when the order of elements matters and the data should remain constant throughout the program.

In [21]:
ice_cream_scoops = (1, 2, 3, 'Salted caramel', 'Vanilla', 'Choc chip')
type(ice_cream_scoops)

tuple

Basic operations that can be performed on tuples

In [25]:
# Indexing
# Returns the first element
ice_cream_scoops[0]

# Returns the last element
ice_cream_scoops[-1]

# Slicing 
# Returns a subtuple from index 1 to 3 (excluding 4)
ice_cream_scoops[1:4]

# Tuple Concatenation
flavour_brands = ice_cream_scoops + ('Dairyland', 'Creambell', 'Lyons Maid')
flavour_brands

(1,
 2,
 3,
 'Salted caramel',
 'Vanilla',
 'Choc chip',
 'Dairyland',
 'Creambell',
 'Lyons Maid')

#### Sets
 - A set is an unordered and mutable collection of unique elements
 - Sets are defined by enclosing the elements in curly bracketa '{}'
 - Duplicate elements are not allowed in sets and the values within a set cannot be accessed using an index because sets are unordered
 - They are often used when comparing two separate sets

In [26]:
# Creating a set named top_3_brands with a mix of numeric and string elements
top_3_brands = {1, 2, 3, 'Dairyland', 'Creambell', 'Lyons Maid'}

# Determining the data type of the set using the type() function
type(top_3_brands)

set

In [27]:
# Creating a set named top_4_flavours with a mix of numeric and string elements
# This set represents a collection of top 4 ice cream flavors, including both numeric identifiers and flavor names.
top_4_flavors = { 1, 2, 3, 4, 'Salted caramel', 'Vanilla swirl', 'Chocolate', 'Classic vanilla'}

In [28]:
"""
Performing a union operation on sets top_3_brands and top_4_flavours using the '|' operator
The union of sets combines elements from both sets, removing duplicates, to create a new set.
"""
print(top_3_brands | top_4_flavours)

{'Creambell', 1, 2, 3, 'Chocolate', 4, 'Vanilla swirl', 'Dairyland', 'Classic vanilla', 'Salted caramel', 'Lyons Maid'}

In [29]:
"""
Performing an intersection operation on sets top_3_brands and top_4_flavours using the '&' operator
The intersection of sets includes only the common elements between the two sets.
The result represents a set containing elements that exist in both top_3_brands and top_4_flavours.
"""
print(top_3_brands & top_4_flavours)

{1, 2, 3}

In [30]:
"""
Performing a symmetric difference operation on sets top_3_brands and top_4_flavours using the '^' operator
The symmetric difference of sets includes elements that are unique to each set, excluding common elements.
The result represents a set containing elements that exist in either top_3_brands or top_4_flavours, but not both.
"""
print(top_3_brands ^ top_4_flavours)

{'Chocolate', 4, 'Creambell', 'Vanilla swirl', 'Classic vanilla', 'Dairyland', 'Salted caramel', 'Lyons Maid'}

#### Dictionaries
 - A dictionary is a mutable and unordered collection of key-value pairs.
 - Each key in a dictionary must be unique.
 - Dictionaries are defined using curly brackets '{}' and key-value pairs separated by colons ':'.

In [38]:
student_info = {'name': 'Keyshia Hope', 'grade': 4, 'favorite subjects': ['French', 'Coding and robotics', 'Art']}
print(student_info)
type(student_info)

{'name': 'Keyshia Hope', 'grade': 4, 'favorite subjects': ['French', 'Coding and robotics', 'Art']}

dict

Basic operation related to dictionaries include:

In [32]:
# Returns a list of all keys
student_info.keys()

dict_keys(['name', 'Grade', 'favorite subjects'])

In [33]:
# Returns a list of all values
student_info.values()

dict_values(['Keyshia Hope', 4, ['French', 'Coding and robotics', 'Art']])

In [34]:
# Returns a list of key-value pairs
student_info.items()

dict_items([('name', 'Keyshia Hope'), ('Grade', 4), ('favorite subjects', ['French', 'Coding and robotics', 'Art'])])

In [35]:
# Getting the value associated with the key 'name'
student_info['name']

'Keyshia Hope'

In [36]:
# Update the value associated with the key 'name'
student_info['name'] = 'Abigael Job'

print(student_info)

{'name': 'Abigael Job', 'Grade': 4, 'favorite subjects': ['French', 'Coding and robotics', 'Art']}

In [37]:
# Adding a new key-value pair
student_info['gender'] = 'Female'

print(student_info)

{'name': 'Abigael Job', 'Grade': 4, 'favorite subjects': ['French', 'Coding and robotics', 'Art'], 'gender': 'Female'}

In [39]:
# Removing the key-value pair with the key 'grade'
del student_info['grade']

print(student_info)

{'name': 'Keyshia Hope', 'favorite subjects': ['French', 'Coding and robotics', 'Art']}